/* Navigation */
.primary-navigation {
  outline: 2px solid red;
}
nav {
  background: red;
  padding: 0.75em 0.25em;
}

.nav-list,
li {
  display: inline;
}

.nav-list {
  display: flex;
}
.nav-items {
  display: flex;
  margin-left: auto;
}
.nav-link {
  padding: 0 clamp(1em, 2em, 4em);
}
