<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{ title }} </title>

    <!-- CSS -->
    <!-- TODO add CSS to base once understood -->
    <!-- JS Scripts -->

    <!-- Other Imports -->
  </head>
  <body>
    {% include "partials/primary-nav.html" %}
    <main tabindex="-1" id="main-content"> {{ content | safe }} </main>
    {% include "partials/primary-cta.html" %} {% include
    "partials/primary-footer.html" %}
  </body>
</html>
