<footer class="primary-footer" aria-label="primary">
  <div class="even-columns">
    <a href="#" class="footer-logo">FOOTER LOGO</a>
    <ul class="footer-list">
      {% for item in primaryFooter.items %}
      <li
        ><a href="{{ item.url }}" class="footer-link"> {{ item.text }} </a></li
      >
      {% endfor %}
    </ul>
  </div>
  <div class="even-columns">
    <ul role="list" class="footer-social">
      {% for item in primaryFooter.social %}
      <li
        ><a href="{{ item.url }}" class="social-link"> {{ item.text }} </a></li
      >
      {% endfor %}
    </ul>
    <a href="#" class="footer-copyright">Copyright 2022</a>
  </div>
</footer>
