<footer class="primary-footer" aria-label="primary">
  <ul class="footer-list footer-primary">
    <li>
      <a href="#" class="footer-logo">FOOTER LOGO</a>
    </li>
    <div class="footer-items">
      {% for item in primaryFooter.items %}
      <li
        ><a href="{{ item.url }}" class="footer-link"> {{ item.text }} </a></li
      >
      {% endfor %}
    </div>
  </ul>
  <hr />
  <ul class="footer-list footer-secondary">
    <div class="footer-social">
      {% for item in primaryFooter.social %}
      <li>
        <a href="{{ item.url }}" class="social-link"> {{ item.text }} </a>
      </li>
      {% endfor %}
    </div>
    <li>
      <a href="#" class="footer-logo">Copyright 2020</a>
    </li>
  </ul>
</footer>
